@import '../variable/varialble.scss';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.active{
    font-size: $text-small;
    font-weight: $fw-semi;
    color: $text-primary-200 !important;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background-color: $bg-primary-300;
        bottom: -20px;
        right: 50%;
        border-radius: 50%;
        transform: scale(1,1) !important;
    }
}